@import "tailwindcss";

/* .container {
    @apply pt-[40px] relative
} */

/* .header {
    @apply text-[40px] max-sm:text-[20px]
} */

.main-idea {
    @apply flex items-center py-[20px] max-sm:flex-col max-sm:items-start
}

.main-idea h2 {
    @apply text-[20px] ml-[15px];
}

.add-sub-idea {
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}
.add-sub-idea.disapper {
    animation-name: disapper-button;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.sub-idea {
    @apply mt-[10px] pb-[20px] h-[125px] max-sm:h-[275px] overflow-hidden; 
    border-bottom: 1px solid #ccc;
    animation-name: add-idea;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

@media(max-width: 640px) {
    .sub-idea {
        animation-name: add-idea-mobile
    }
}


.sub-idea .main {
    @apply flex items-center py-[10px] gap-[10px] max-sm:flex-col max-sm:items-start
}

.sub-idea div h2 {
    word-spacing: 5px;
}

.sub-idea .others {
    @apply flex items-center  mt-[10px] gap-[15px] max-sm:flex-col max-sm:items-start
}

.sub-idea .witness {
    @apply flex items-center gap-[10px] max-sm:flex-col max-sm:items-start max-sm:w-full
}


.sub-idea .poet {
    @apply flex items-center gap-[10px] max-sm:flex-col max-sm:items-start max-sm:w-full
}

@keyframes add-idea {
    from {
        height: 0;
        padding-bottom: 0;
    }
    to {
        height: 125px;
        padding-bottom: 20px;
    }
}
@keyframes add-idea-mobile {
    from {
        height: 0;
    }
    to {
        height: 275px;
    }
}

.generate {
    @apply block w-fit mx-[auto] mt-[10px] py-[5px] px-[10px] text-white ;
    @apply text-[20px] tracking-[1.5px] rounded-[15px] cursor-pointer;
}

.generate.disapper {
    animation-name: disapper-button;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.error {
    @apply fixed bg-red-500 z-20 bottom-[80px] right-[-300px] text-white py-[5px] px-[10px];
    @apply mr-[20px];
    
    animation-duration: 3000ms;
    animation-fill-mode: both;
}
.error.active {
    animation-name: display-error;
}

@keyframes display-error {
    1% {
        right: -300px
    }
    10% {
        right: 0
    }
    90% {
        right: 0;
    }
    100% {
        right: -300px
    }
}

.loading {
    padding-top: 100px
}

.loading div {
    @apply w-full h-[15px] bg-gray-400 rounded-[15px] mt-[20px] relative overflow-hidden 
}

.loading div::before {
    content: "";
    background: #ffffff;
    background: linear-gradient(360deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 99%);
    width: 50%;
    height: 80px;
    position: absolute;
    left: -100%;
    bottom: -100%;
    transform: rotate(45deg);
    animation-name: loading;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}
.loading div.short {
    @apply w-[60%]
}

@keyframes loading {
    from {
        left: 100%
    }
    to {
        left: -100%;
    }
}

@keyframes disapper-button {
    0% {
        opacity: 1;
        visibility: visible
    }
    99% {
        opacity: 0;
        visibility: visible
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}

.response {
    padding-top: 100px;
}
.response div {
    @apply text-[20px] mb-[30px] max-sm:text-[16px]
}